@font-face{
    src:url(fonts/Roboto-BoldItalic.ttf);
    font-family: Roboto-BoldItalic;
}

@font-face{
    src:url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}

h1{
    font-family: Roboto-BoldItalic,verdana, arial;
}
p{
    font-family: "OpenSans","lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}