body{
    margin:0px;
}

.box{
    border:5px solid;
    font-size: 5em;
    width:250px;
    height:250px;
}

#box1{
    background-color: hsl(0, 61%, 51%);
    margin-left:auto;/*left, top, right, bottom, auto, */
}
#box2{
    background-color: hsl(240, 79%, 47%);
}